@font-face {
    font-family: 'moul' ;
    src: url(../fonts/Moul-Regular.ttf);
}

@font-face {
    font-family: "chakra";
    src: url(../fonts/ChakraPetch-Italic.ttf);
}


@font-face {
    font-family: 'raj' ;
    src: url(../fonts/Rajdhani-Regular.ttf);
}